.active-filters {
  display: flex;

  & .filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-grey);
    border-radius: 30px;
    cursor: pointer;
    padding: 5px;
    margin-inline-end: 20px;
    & svg {
      width: 30px;
      height: 30px;
    }
  }
}
