:root {
  --color-background: linear-gradient(180deg, #2e323f 0%, #0a061a 100%);
  --color-dropdown: #2e323f;
  --color-primary: #c94b63;
  --color-input-border: 1px solid transparent;
  --color-input: rgba(255, 255, 255, 0.05);
  --color-card: rgba(255, 255, 255, 0.05);
  --color-icon-btn: rgba(255, 255, 255, 0.05);
  --color-grey: #bdbdbd45;
  --color-hover: rgba(255, 255, 255, 0.07);
  --color-hover-darken: rgba(255, 255, 255, 0.09);
  --color-head: #fff;
  --color-white: #fff;
  --color-text: #868c9b;
  --border-radius: 6px;
  --font-family: "Segoe UI";
  --color-deleted: #8b8a8b;
  --fk-color-input: var(--color-white);
  --fk-margin-help: 15px 0;
  --fk-color-help: var(--color-white);
  --fk-bg-input: rgba(108, 117, 125, 0.2);
  --fk-padding-label: 15px 0;
  --fk-max-width-input: 100%;
  --fk-font-size-message: 16px;
  --fk-font-size-label: 16px;
  --fk-color-tag: #256029;
  --fk-day-bg: var(--color-card);
  --fk-day-bg-hover: rgba(23,255,255,1)
  // --fk-color-border-focus: red;
  --fk-color-primary: transparent;
  --fk-color-tag-background: #c8e6c9;
  --fk-day-bg-selected:var(--color-primary);
  --fk-dropdown-active-bg:var(--color-primary);
  --fk-border-width: 0;
  --color-dialog: #252636;
  --color-success: #0c7040;
  --color-warning: #fc8621;
  --color-error: #c72c41;
  --menu-width-opened: 19rem;
  --menu-width-closed: 6.571em;
  --menu-border-color: rgba(22, 22, 22, 0.85);
}

.formkit-messages {
  background-color: var(--color-error);
  padding: 10px;
  border-radius: 5px;
  margin: 20px 0;
}
.formkit-messages li {
  color: #fff !important;
}

.formkit-label,
.formkit-alt-label,
.formkit-value-label {
  font-family: var(--font-family) !important;
}

.p-toast {
  top: 50px !important;
}
.p-toast .p-toast-message {
  border-radius: 32px;
  position: relative;
  border: none !important;
}
.p-toast .p-toast-message::before {
  position: absolute;
  top: -25px;
  left: 30px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.p-toast .p-toast-message::after {
  position: absolute;
  top: -38px;
  left: 30px;
  width: 69px;
  height: 69px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #fff;
  z-index: 1;
}
.p-toast .p-toast-message .p-toast-message-content {
  padding: 0 !important;
}
.p-toast .p-toast-message .p-toast-message-content .toast-inner {
  overflow: hidden;
  padding: 1rem;
  color: #fff;
}
.p-toast .p-toast-message .p-toast-message-content .toast-inner::after {
  position: absolute;
  bottom: -25px;
  left: -35px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.p-toast .p-toast-message .p-toast-icon-close {
  color: #fff !important;
  position: absolute;
  top: 10px;
  right: 15px;
}
.p-toast .p-toast-message.p-toast-message-error {
  background-color: var(--color-error) !important;
}
.p-toast .p-toast-message.p-toast-message-error::before {
  content: url("@/assets/msg-error.svg");
}
.p-toast .p-toast-message.p-toast-message-error::after {
  content: url("@/assets/close.svg");
}
.p-toast .p-toast-message.p-toast-message-error .toast-inner::after {
  content: url("@/assets/logo-error.svg");
}
.p-toast .p-toast-message.p-toast-message-success {
  background-color: var(--color-success) !important;
}
.p-toast .p-toast-message.p-toast-message-success::before {
  content: url("@/assets/msg-success.svg");
}
.p-toast .p-toast-message.p-toast-message-success::after {
  content: url("@/assets/check.svg");
}
.p-toast .p-toast-message.p-toast-message-success .toast-inner::after {
  content: url("@/assets/logo-success.svg");
}

[data-type=submit] .formkit-input,
.app-btn {
  width: 100%;
  background-color: var(--color-primary);
}
[data-type=submit] .formkit-input:hover,
.app-btn:hover {
  background-color: var(--color-card);
  transition: background-color 0.5s;
}

.app-btn {
  width: 30%;
  color: #fff;
  text-align: center;
  min-height: 40px;
  align-items: center;
  display: flex;
  margin-top: 20px;
  justify-content: center;
  border-radius: 6px;
}

.formkit-input:focus-visible,
.formkit-input:focus-visible {
  outline: none !important;
}

[data-type=datepicker] .formkit-panel-wrapper {
  background: var(--color-background);
}

[data-type=datepicker] button {
  background-color: var(--color-card) !important;
  color: var(--color-white);
}

[data-family=dropdown].formkit-outer .formkit-dropdown-wrapper ul {
  background: var(--color-background);
  color: var(--color-white);
}

[data-family=dropdown].formkit-outer .formkit-inner {
  background-color: var(--color-card);
}

.formkit-selector {
  color: var(--color-white);
}

.active-filters {
  display: flex;
}
.active-filters .filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-grey);
  border-radius: 30px;
  cursor: pointer;
  padding: 5px;
  -webkit-margin-end: 20px;
          margin-inline-end: 20px;
}
.active-filters .filter svg {
  width: 30px;
  height: 30px;
}

.permissions_input {
  width: 100%;
}
.permissions_input .p-panel {
  margin: 10px 0;
}
.permissions_input .p-panel .p-panel-icons {
  align-items: center;
  display: flex;
}
.permissions_input .p-panel .p-panel-header {
  padding: 20px;
  background: var(--color-card);
  border-radius: 6px;
}

.upload {
  width: 100%;
}
.upload .loader {
  width: 100px;
  position: absolute;
  top: 0;
  right: 0;
}
.upload .img-wrapper {
  max-width: 250px;
  border-radius: 6px;
  background-color: var(--color-card);
  position: relative;
  cursor: pointer;
}
.upload .img-wrapper img {
  width: 100%;
}
.upload .img-wrapper .remove {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 20px;
  font-weight: bold;
  z-index: 10;
  padding: 6px;
  border-radius: 6px;
  display: none;
  transition: all 0.3s;
}
.upload .img-wrapper::after {
  transition: all 0.3s;
}
.upload .img-wrapper:hover .remove {
  display: block;
}
.upload .img-wrapper:hover::after {
  content: "asdasdasdasd";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}/*# sourceMappingURL=app.css.map */